  <div class="login-left">
	<div style="font-size: 45px;">Resend confirmation instructions</div>
    <div></div>
    <div class="line"></div>
  </div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>


<div class="login-right">
  <div class="input">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>


    <%= f.submit "Resend confirmation instructions", :class => "login" %>

<% end %>

<%= render "users/shared/links" %>
</div>