<% provide(:title, "Home") %>

  <!DOCTYPE html>
  <html>
    
  <head>
    <title><%= yield(:title) %> | SCE Student Online Application</title>
  </head>
  
  <div class="container">
    <div class="left">
      
      <%= image_tag('images.jpg') %>
      
      <% if current_user.present? %>
      
        <h1>Welcome to SCE Student Online Application System, <%= current_user.name %></h1>
  
        <% if current_user.has_role? :admin %>
        
          <%= link_to 'All Users', users_path, :class => "btn1" %> 
          <%= link_to 'All Complaints', complaints_path, :class => "btn1" %> 
          <%= link_to 'Show Profile', show_profile_user_path(current_user.id), :class => "btn1" %> 
        
          
          <%= link_to 'Staff Chat', rooms_path, :class => "btn1" %> 
          <%= link_to 'Complaint Statistics', weekly_complaints_charts_path, :class => "btn1" %>
          
        <% elsif current_user.has_role? :student %>  
        
          <%= link_to 'All Complaints', complaints_path, :class => "btn1" %> 
          <%= link_to 'Show Profile', show_profile_user_path(current_user.id), :class => "btn1" %>
        
        <% else %>
        
          <%= link_to 'All Complaints', complaints_path, :class => "btn1" %> 
          <%= link_to 'Show Profile', show_profile_user_path(current_user.id), :class => "btn1" %> 
        
          
          <%= link_to 'Staff Chat', rooms_path, :class => "btn1" %> 
          <%= link_to 'Complaint Statistics', weekly_complaints_charts_path, :class => "btn1" %>
        
        <% end %>
        
        
      <% else %>
      
        <h1>Welcome to SCE Student Online Application System.</h1>
      
      <% end %>
      
      <div class="line"></div>
      
    </div>
  </div>
  
</html>

