

<div class="cont-<%=message.user.id %>">
    
  <div class="message-box msg-<%= message.user.id %>">
      
    <div class="d-flex align-items-center">
        
      <%= image_tag(message.user.avatar, class: 'chat_pfp', data: {turbo: "false"}) %>
      
      <div>
        <h6 class="name"> <%= message.user.name %></h6>
        <p class="time"><%= time_ago_in_words(message.created_at) %> ago</p>
      </div>
      
    </div>
    
    <%= message.body %>
    
  </div>
  
</div>