<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% provide(:title, "Log In") %>

<template>
    <div class="dashboard-editor-container">
    </div>
</template>

    <div class="login-left">
		<div style="font-size: 45px;">Log in</div>
      <div></div>
    </div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="login-right">
      <div class="input">
        <img style="margin-right: 24pt;" class="email">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <div class="input">
        <img style="margin-right: 10pt;" class="password">
        <%= f.label :password %><br>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      
      <%= f.submit 'Log In', :class => "login" %>
    

  <% if devise_mapping.rememberable? %>
    <div class="forget">
      <%= f.label :remember_me %>
    </div>
    
  <%= f.check_box :remember_me, :style => "margin-top: 0;" %>
  <% end %>

<% end %>

<%= render "users/shared/links" %>

</div>