<%= form_for(complaint) do |f| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
 
      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
 
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  
  
  <div class="attachment">
    <%= f.label :"Attach File" %>
    <%= f.file_field :complaintfile, accept: 'image/jpeg, image/gif, image/png, image/bmp, image/pdf' %>
   
  </div>
  
  <div>
    <%= f.label :"Addressed To" %>
    
    <!-- User.order(:name) or whatever parameter you want to arrange the users by -->
    <!-- f.collection_select :assignee_id, User.order(:id),:id,:name, include_blank: true %> -->

    
    <%= f.collection_select :assignee_id, User.without_role(:admin).without_role(:student).order(:name),:id,:name, include_blank: true %> 
    
    
  
   
  </div>
  
  
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>