<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= form_for(complaint) do |f| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
 
      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="edit-content">

      <%= f.label :title, :style => 'margin-left: 15%;' %>
      <br>
      <%= f.text_field :title, autocomplete: 'off', :class => 'edit-title'%>
      <br>
      <br>
      <%= f.label :body, :style => 'margin-left: 15%;' %>
      <br>
      <%= f.text_area :body, autocomplete: 'off', :class => 'edit-detail' %>
      <br>
      <br>
  
    <div class="attachment">
      <%= f.label :"Attach File", :style => 'margin-left: 15%;' %>
      <%= f.file_field :complaintfile, accept: 'image/jpeg, image/gif, image/png, image/bmp, image/pdf', :class => 'upload1' %>
   
    </div>
      <br>
      <br>
      <%= f.label :"Addressed To", :style => 'margin-left: 15%;' %>
    
        <!-- User.order(:name) or whatever parameter you want to arrange the users by -->
        <!-- f.collection_select :assignee_id, User.order(:id),:id,:name, include_blank: true %> -->
    <div class="edit-select">
      <%= f.collection_select :assignee_id, User.only_faculty.order(:name),:id,:name, include_blank: true %> 
    
   
    </div>
  
 
    <%= f.submit "Submit Complaint", :class => 'submit-btn' %>
  
  </div>
<% end %>