<p id="notice"><%= notice %></p>

<table class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created At</th>
      <th>Last Updated</th>
      <th>Completed?</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @complaints.each do |complaint| %>
    <tr>
      <td><%= complaint.title %></td>
      <td><%= complaint.created_at %></td>
      <td><%= complaint.updated_at %></td>
      <td><%= complaint.completed %></td>
      <td><%= link_to 'Show', complaint %></td>
      <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
      <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
 
<br>
 
<%= link_to 'New Complaint', new_complaint_path %>
