<meta name="viewport" content="width=device-width, initial-scale=1" />

<% provide(:title, 'All Complaints') %>


<div class="active">All Complaints</div>

<div class="container1">
<table class="index-tables" summary="All Complaints">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Created At</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Assigned To</th>
        <th colspan="3"></th>
      </tr>
    </thead>
   
    <tbody>
      <% @complaints.each do |complaint| %>
      <tr>
        
        <% if complaint.completed == false && complaint.escalated == true %>
          <td><div class="red"><%= complaint.try(:title) %></div></td>
        <% elsif complaint.completed == true %>
          <td><div class="green"><%= complaint.try(:title) %></div></td>
        <% else %>
          <td><div class="yellow"><%= complaint.try(:title) %></div></td>
        <% end %>
        
        
        
        <td><%= complaint.try(:created_at) %></td>
        <td><%= complaint.try(:updated_at) %></td>
        <td><%= complaint.assignee.try(:name) %></td>
        
        
        <td><%= link_to 'Show', complaint, :class => 'button-tables' %></td>

        <% if current_user.has_role? :admin %>
        
          <td><%= link_to 'Edit', edit_complaint_path(complaint), :class => 'button-tables' %></td>
          <td><%= link_to 'Delete', complaint, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button-tables'  %></td>
        
        <% end %>
        
      </tr>
      
      <% end %>
      
    </tbody>
    
   
  </table>
   
  <br>
   
  <%= link_to 'New Complaint', new_complaint_path, :class => 'button1-tables' %>
    
  
</div>