<p id="notice"><%= notice %></p>


<div class="show-content">
    <div class="show-title">
      <div class="show-detail">Submitter:</div>
      <div class="show-detail1"><%= @complaint.user.name %></div>
    </div>

    <div class="show-title">
      <div class="show-detail">Addressed To:</div>
      <div class="show-detail1"><%= @complaint.assignee.name %></div>
    </div>

    <div class="show-title">
      <div class="show-detail">Title:</div>
      <div class="show-detail1"><%= @complaint.title %></div>
    </div>

    <div class="show-title">
      <div class="show-detail">Body:</div>
      <div class="show-detail1"><%= @complaint.body %></div>
    </div>

    <div class="show-title1">
      <div class="show-detail2">Attached File:</div>
      <div class="show-file"><%= image_tag(@complaint.complaintfile) if @complaint.complaintfile.attached? %></div>
    </div>

    <div class="show-title">
      <div class="show-detail">Completed:</div>
      <div class="show-detail1"><%= @complaint.completed %></div>
    </div>

    <div class="show-title">
      <div class="show-detail">Completed Time:</div>
      <div class="show-detail1"><%= @complaint.completed_time %></div>
    </div>

    <div class="show-title">
      <div class="show-detail">Escalated:</div>
      <div class="show-detail1"><%= @complaint.escalated %></div>
    </div>

    <div class="show-title">
      <div class="show-detail">Escalated Time:</div>
      <div class="show-detail1"><%= @complaint.escalated_time %></div>
    </div>

    <div class="show-title">
      <div class="show-detail">Escalated To:</div>
      <div class="show-detail1"><%= @complaint.escalated_to_user.name if @complaint.escalated_to_user.present? %></div>
    </div>


<div class="reply">
  
  <% @complaint_replies.each do |complaint_reply| %>
    <%= render 'complaint_replies/complaint_reply', post: @complaint, complaint_reply: complaint_reply %>
  <% end %>
  
  
  <%= render 'complaint_replies/form', complaint: @complaint if @complaint.completed == false %>
  
  <% if @complaint.completed == false %>
  
    <%= render 'complaints/close_complaint', complaint: @complaint if !current_user.has_role? :student %>
  
  <% end %>
  
</div>


<%= link_to 'Back', complaints_path, :class => 'button-tables' %>

</div>