<p id="notice"><%= notice %></p>

<p>
  <strong>Submitter:</strong>
  <%= @complaint.user.name %>
</p>

<p>
  <strong>Addressed To:</strong>
  <%= @complaint.assignee.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @complaint.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @complaint.body %>
</p>

<p>
  <strong>Attached File:</strong>
  <%= image_tag(@complaint.complaintfile) if @complaint.complaintfile.attached? %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @complaint.completed %>
</p>

<p>
  <strong>Completed Time:</strong>
  <%= @complaint.completed_time %>
</p>

<p>
  <strong>Escalated:</strong>
  <%= @complaint.escalated %>
</p>

<p>
  <strong>Escalated Time:</strong>
  <%= @complaint.escalated_time %>
</p>

<p>
  <strong>Escalated To:</strong>
  <%= @complaint.escalated_to_user.name if @complaint.escalated_to_user.present? %>
</p>




<div class="container">
  
  <% @complaint_replies.each do |complaint_reply| %>
    <%= render 'complaint_replies/complaint_reply', post: @complaint, complaint_reply: complaint_reply %>
  <% end %>
  
  
  <%= render 'complaint_replies/form', complaint: @complaint if @complaint.completed == false %>
  
  <% if @complaint.completed == false %>
  
    <%= render 'complaints/close_complaint', complaint: @complaint if !current_user.has_role? :student %>
  
  <% end %>
  
</div>


<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
