<%= form_for @user do |f| %>

  <% if current_user.has_role? :admin %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    
    
    <% Role.all.each do |role| %>
      <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id) %>
      <%= role.name %></br>
    <% end %>
    
  <% else %>  
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

  
  <% end %>
  
  
  
  <%= f.submit %>
  
<% end %>

<%= link_to "Back", users_path %>