<meta name="viewport" content="width=device-width, initial-scale=1" />

<% provide(:title, 'User Profile') %>

<div class="profile-container">
  <div class="profile-inner">
    <div class="profile-title">Profile</div>
    
    <div class="profile-content">
      <aside class="profile-details">
          <h1>
            <%= image_tag(@user.avatar, size: '200x200') if @user.avatar.attached? %>
            </br>
            
            <div class="profile-item">
              <div class="profile-item-text">
                <%= @user.name %>
              </div>
            </div>
          
            <br>
            
            <div class="profile-item">
              <div class="profile-item-text">
                <h1>ID: <%= @user.person_id %>  </h1> 
              </div>
            </div>
            
            <div class="profile-item">
              <div class="profile-item-text">
                <h1>Birthday: <%= @user.birthday %>  </h1> 
              </div>
            </div>
            
            
            <div class="profile-item">
              <div class="profile-item-text">
                <h1>Role Name: <%= @user.roles.pluck(:name)  %></h1> 
              </div>
            </h1>
            
            </br>
            </div>
    
    <%= link_to 'Edit Profile', edit_user_path, :class => 'button1-tables' %>
      
    </section>
  </aside>
</div>

</div>