<meta name="viewport" content="width=device-width, initial-scale=1" />

<% provide(:title, 'Chat Index') %>

<div class="show-content1">
    
    <div id="room_container">
        
        <div class="nav-user" >Users<%= turbo_stream_from "users" %></div>
        
        <%= turbo_stream_from "users" %>
        
        <div id="users">
            <%= render @users.without_students %>
        </div>
    
    </div>
    
    <div class="chat-area" >
     
        <% if @single_room %>
        
            <div id="single_room">
                
                <h4 class="chat-area-title"> <%= @user&.name || @single_room.name %> </h4>
                
                <%= turbo_stream_from @single_room %>
                
                <div id="messages" data-controller="scroll">
                    
                    <div id="messages-container">
                        <%= render @messages %>
                    </div>
                
                </div>
                
                <%= render 'messages/new_message_form' %>
                    
                </div>
        <% end %>

     
    </div>
</div>

